
<div class="akitennisclass1847" role="main">
  <h1 class="akitennisclass1137">フォロー一覧</h1>
  <p>あなたがフォローしてるユーザーが見れます！</p>
  <% @follow.each do |f| %>
    <div class="akitennisclass1831">
      <div class="panel akitennisclass982">
        <div class="akitennisclass1502">
          <div class="akitennisclass1291">
            <%= link_to f.followed_user.name, "/users/#{f.followed_user.id}/show", class: "btn akitennisclass1316 akitennisclass1620" %>
          </div>
          <hr>
          <p>

            <span>
              <img alt="くろちゃんｄｓ" class="akitennisclass854 akitennisclass1176 imageSvg" height="220" show_rank="false" src="/assets/1.png" title="くろちゃんｄｓ" width="220">
              </span>
            <br>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div>