<p><%=@user.name%>さんのフォロワー一覧</p>
<%@user.followed.each do |list|%>
  <%=list.follow_user.name%>
<%end%>
<br><br>
<%= link_to "ユーザーに戻る", "/users/#{@user.id}/show"%> <br>
<%= link_to "投稿一覧", "/posts/index"%>
