<p><%=@user.name%>さんのフォロー一覧</p>
<%@user.follow.each do |list|%>
  <%=list.followed_user.name%>
<%end%>
<br><br>
<%= link_to "ユーザーに戻る", "/users/#{@user.id}/show"%> <br>
<%= link_to "投稿一覧", "/posts/index"%>
