<div class="akitennisclass1847" role="main">
<% @users.each do |user| %>
  <div class="akitennisclass1831">
    <div class="panel akitennisclass982">
      <div class="akitennisclass1502">
        <div class="akitennisclass1291">
          <%= link_to user.name, "/users/#{user.id}/show", class: "btn akitennisclass1316 akitennisclass1620" %>
        </div>
        <hr>
        <p>
   
            <span>
              <img alt="くろちゃんｄｓ" class="akitennisclass854 akitennisclass1176 imageSvg" height="220" show_rank="false" src="/assets/1.png" title="くろちゃんｄｓ" width="220">
              </span>
<br>
        </p>
      </div>
    </div>
  </div>
<% end %>

  </div>